 /* Estilos generales */
    body {
      margin: 0;
      background-color: #D0FD8B;
      color: #333;
      font-family: "Playwrite GB S Guides", cursive;
      font-weight: 400;
      font-style: italic;
    }

    /* Encabezado */
    header {
      background-color: #3C6301;
      color: #F5FFE6;
      padding: 20px;
      text-align: center;
    }

    /* Navegación con Flexbox */
    nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      background-color: #D0FD8B;
      padding: 15px;
    }

    nav a {
      color: #2B4701;
      text-decoration: none;
      font-weight: bold;
    }

    /* Contenido principal */
    main {
      padding: 30px;
      background-color: #fffff0; /*color del fondo del main*/
      font-weight: bold;
    }

    /* Sección de eventos*/
    .evento {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
    }

    .tarjeta-evento {
      background-color:#D0FD8B;
      border-radius: 12px;
      padding: 20px;
      width: 220px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      text-align: center;
    }

    /* Pie de página */
    footer {
      background-color: #D0FD8B;
      color: black;
      text-align: center;
      padding: 15px;
      margin-top: 30px;
      font-family: Arial, sans-serif;
      font-weight: bold;
    }